# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
*.egg
.env
venv/
.envrc

# --- Airflow ---
airflow_venv/
logs/
*.db
*.sqlite
/tmp/

# --- dbt ---
target/
dbt_modules/
logs/
.env
*.backup

# --- OS / IDE ---
.DS_Store
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace

